.singleCell{
	padding:20px 10px;
	margin-bottom: 20px;
	width: 50%;
	display: flex;
	background: #fff;
	flex-direction: row;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.name{
    font-size: 26px;
    color: #ff7658;
    margin-bottom: 0
}
.subName{
    font-size: 24px;
    color: #c5c2c2;
    margin-bottom: 0
}

.leftDiv{
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.rightDiv{
	flex:1
}