.header{
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    height: 70px;
}
.more{
    color: #bbb;
}

.title{
    color: #ff5e58;
    font-weight: bolder;
    font-size: 30px;
}